﻿@using sidewalk_sitecore_8.Utils
@model sidewalk_sitecore_8.Models.BenefitsListModel

<h2 class="title" data-selector="Footer">@Model.Title</h2>
<p class="sep-bottom editContent" data-selector="Footer">
    @Model.Body
</p>

@if (Model.Benefits.Any() || Sitecore.Context.PageMode.IsPageEditor)
{
    using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Benefits"))
    {
        if (!Model.Benefits.Any() && Sitecore.Context.PageMode.IsPageEditor)
        {
            <p>List is empty</p>
        }
        
        <ul class="item-list-left item-list-small item-list">
            @foreach (var benefit in Model.Benefits)
            {
                using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Benefit"))
                {
                    <li data-selector="Footer">
                        @if (!Sitecore.Context.PageMode.IsPageEditor)
                        {
                            var icon = Sitecore.Context.Database.GetItem(benefit["Icon"]);
                            if (icon != null)
                            {
                                <i class="icon @icon["CssClass"]" data-selector=".icon" id="ui-id-36"></i>
                            }
                        }
                        <h3 data-selector="Footer">@Html.Sitecore().Field("Title", benefit)</h3>
                        @Html.Sitecore().Field("Body", benefit)
                    </li>
                }
            }
        </ul>
    }
}

<p class="sep-top editContent" data-selector="p">
    @if (!string.IsNullOrEmpty(Model.Rendering.Item["Link"]))
    {
        @Html.Sitecore().BeginField("Link", Model.Rendering.Item, new { @class = "btn btn-default btn-lg btn-darkblue" })
        <i class="icon right-icon icon-link" ></i>
        @Html.Sitecore().EndField()
    }
</p>