﻿@using sidewalk_sitecore_8.Utils
@model sidewalk_sitecore_8.Models.BenefitsCollapseListModel

<h2 class="title" data-selector="Footer">@Model.Title</h2>
<p class="sep-bottom editContent" data-selector="Footer"></p>

@if (Model.Benefits.Any() || Sitecore.Context.PageMode.IsPageEditor)
{
    using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Benefits"))
    {
        if (!Model.Benefits.Any() && Sitecore.Context.PageMode.IsPageEditor)
        {
            <p>List is empty</p>
        }
        
        <p>
            @{ var i = 0; }
            @foreach (var benefit in Model.Benefits)
            {
                var selector = "collapseBenefit" + i;

                using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Benefit"))
                {
                    <div class="panel" data-selector="#testimonials-grid .quote, .pricing-table, .pricing-table .stamp, .post, .panel, .panel-heading, .form-container, .post-content .price-circle">
                        <a class="panel-heading" data-toggle="collapse" href="#@selector" data-selector="#testimonials-grid .quote, .pricing-table, .pricing-table .stamp, .post, .panel, .panel-heading, .form-container, .post-content .price-circle" aria-expanded="true">
                            @if (!Sitecore.Context.PageMode.IsPageEditor)
                            {
                                var icon = Sitecore.Context.Database.GetItem(benefit["Icon"]);
                                if (icon != null)
                                {
                                    <i class="icon @icon["CssClass"]" data-selector=".icon"></i>
                                }
                            }
                            <span class="editContent" data-selector="Footer">@Html.Sitecore().Field("Title", benefit)</span>
                        </a>
                        <div id="@selector" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body" data-selector="Footer">@Html.Sitecore().Field("Body", benefit)</div>
                        </div>
                    </div>
                }
                i++;
            }
        </p>
    }
}