﻿@using sidewalk_sitecore_8.Utils
@using Sitecore.Data.Fields
@model sidewalk_sitecore_8.Models.ClientLogoListModel

<h2 class="title" data-selector="h2">@Model.Title</h2>
<p class="sep-bottom desc-text editContent" data-selector="p"></p>

@if (Model.ClientLogoModels.Any() || Sitecore.Context.PageMode.IsPageEditor)
{
    using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/ClientLogoList"))
    {
        if (!Model.ClientLogoModels.Any() && Sitecore.Context.PageMode.IsPageEditor)
        {
            <p>List is empty</p>
        }

        var numberOfRows = Math.Ceiling(Model.ClientLogoModels.Count / 4.0);
        for (int i = 0; i < numberOfRows; i++)
        {
            var clienLogosSubList = Model.ClientLogoModels.Skip(i * 4).Take(4).ToList();

            var sepBottomClass = i == ((int)numberOfRows) - 1 ? "" : "sep-bottom";

            <div class="row @sepBottomClass">
                @if (clienLogosSubList.Any() || Sitecore.Context.PageMode.IsPageEditor)
                {
                    foreach (var clientLogo in clienLogosSubList)
                    {

                        <div class="col-sm-3 clientlogo">
                            @if (Sitecore.Context.PageMode.IsPageEditor)
                            {
                                @Html.Sitecore().BeginField("Link", clientLogo, new { DisableLinkDescription = true })
                                @Html.Sitecore().Field("Image", clientLogo, new { @class = "screen" })
                                @Html.Sitecore().EndField()
                            }
                            else
                            {
                                <a href="@(((LinkField) clientLogo.Fields["Link"]).Url)" target="_blank">
                                    @Html.Sitecore().Field("Image", clientLogo, new { @class = "screen" })
                                </a>
                            }
                        </div>
                    }
                }
            </div>
        }
    }
}
