﻿@model sidewalk_sitecore_8.Models.ClientInfoModel
           
<div class="row">
    @*<h2>@Model.Title</h2>*@
    
    <div class="col-md-12">
        <p>@Model.Image</p>
        <p>@Model.Link</p>
        <p>@Model.Address</p>
    </div>
    @*<div class="col-md-6">
        <p>@Model.Body</p>
    </div>*@ 
</div>
