﻿@using sidewalk_sitecore_8.Utils
@model sidewalk_sitecore_8.Models.ContactBlockModel


<div class="@Model.SectionCssClass">
    <h2 class="title" data-selector="h2">@Model.Title</h2>
    <p class="sep-bottom" data-selector="p">
        @Model.Body
    </p>
    <ul class="data-list">
        @if (Model.ContactInfoList.Any() || Sitecore.Context.PageMode.IsPageEditor)
        {
            using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/ContactInfo"))
            {
                if (!Model.ContactInfoList.Any() && Sitecore.Context.PageMode.IsPageEditor)
                {
                    <li>List is empty</li>
                }

                foreach (var infoItem in Model.ContactInfoList)
                {
                    using (Html.BeginEditFrame(infoItem.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/ContactInfoBlock"))
                    {
                        var icon = Sitecore.Context.Database.GetItem(infoItem["Icon"]);
                        <li>
                            @if (infoItem.TemplateID == Constants.ContactInfoBlockTemplateId)
                            {

                                if (!Sitecore.Context.PageMode.IsPageEditor)
                                {
                                    if (icon != null)
                                    {
                                        <i class="icon @icon["CssClass"]" data-selector=".icon"></i>
                                    }
                                }
                                <strong>
                                    @Html.Sitecore().Field("City", infoItem)
                                    @if (!string.IsNullOrEmpty(@Html.Sitecore().Field("City", infoItem).ToString()) && !string.IsNullOrEmpty(@Html.Sitecore().Field("Address", infoItem).ToString()))
                                    {
                                        @: -
                                            }
                                </strong>

                                        <a href="@Html.Sitecore().Field("Google Maps Link", infoItem)" target="_blank">@Html.Sitecore().Field("Address", infoItem)</a>

                                if ((!string.IsNullOrEmpty(@Html.Sitecore().Field("City", infoItem).ToString())
                                     && !string.IsNullOrEmpty(@Html.Sitecore().Field("Phone", infoItem).ToString()))
                                    || (!string.IsNullOrEmpty(@Html.Sitecore().Field("Address", infoItem).ToString())
                                        && !string.IsNullOrEmpty(@Html.Sitecore().Field("Phone", infoItem).ToString())))
                                {
                                    @: -
                                        }

                                <br />
                                        @Html.Sitecore().Field("Phone", infoItem)
                            }
                            else
                            {
                                if (!Sitecore.Context.PageMode.IsPageEditor)
                                {
                                    if (icon != null)
                                    {
                                        <i class="icon @icon["CssClass"]" data-selector=".icon"></i>
                                    }
                                }

                                @Html.Sitecore().Field("Link", infoItem)
                            }
                        </li>
                    }
                }
            }
        }
    </ul>
</div>

