﻿@model sidewalk_sitecore_8.Models.ContactBlockModel

<div class="@Model.SectionCssClass">
    <ul class="contact_bottom">
        @if (Model.ContactInfoList.Any() || Sitecore.Context.PageMode.IsPageEditor)
        {
            if (!Model.ContactInfoList.Any() && Sitecore.Context.PageMode.IsPageEditor)
            {
                <li>List is empty</li>
            }

            foreach (var infoItem in Model.ContactInfoList)
            {
                <li>
                    @if (!Sitecore.Context.PageMode.IsPageEditor)
                    {
                        <i class="icon @Html.Sitecore().Field("Icon", infoItem)" data-selector=".icon"></i>
                    }
                    else
                    {
                        @Html.Sitecore().Field("Icon", infoItem)
                    }
                    <strong>
                        @Html.Sitecore().Field("Title", infoItem)
                        @if (!string.IsNullOrEmpty(@Html.Sitecore().Field("Title", infoItem).ToString()) && !string.IsNullOrEmpty(@Html.Sitecore().Field("Body", infoItem).ToString()))
                        {
                            @: -
                        }
                    </strong>
                    @if (infoItem.Fields["Is Location"].Value == "1")
                    {
                        <a href="http://maps.google.com/?q=@infoItem.Fields["Body"].Value" target="_blank">@Html.Sitecore().Field("Body", infoItem)</a>
                    }
                    else
                    {
                        @Html.Sitecore().Field("Body", infoItem)
                    }

                </li>
            }
        }
    </ul>
</div>