﻿@using sidewalk_sitecore_8.Utils
@model sidewalk_sitecore_8.Models.CounterBlockListModel

@if (Model.CounterBlocks.Any() || Sitecore.Context.PageMode.IsPageEditor)
{
    using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/CounterBlocks"))
    {
        <div class="row">
            @if (!Model.CounterBlocks.Any() && Sitecore.Context.PageMode.IsPageEditor)
            {
                <p>List is empty</p>
            }

            @foreach (var counterBlock in Model.CounterBlocks)
            {
                using (Html.BeginEditFrame(counterBlock.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/CounterBlock"))
                {
                    <div class="col-sm-3">
                        @if (!Sitecore.Context.PageMode.IsPageEditor)
                        {
                            var icon = Sitecore.Context.Database.GetItem(counterBlock["Icon"]);
                            if (icon != null)
                            {
                                <i class="icon @icon["CssClass"]" data-selector=".icon" style="color: rgb(255, 255, 255); font-size: 64px; opacity: 0.400000005960465;"></i>
                            }
                        }
                        <h3 class="timer" data-selector="Footer">@Html.Sitecore().Field("Count", counterBlock)</h3>
                        <h4 data-selector="Footer">@Html.Sitecore().Field("Title", counterBlock)</h4>
                    </div>
                }
            }
        </div>
    }
}
