﻿@using sidewalk_sitecore_8.Utils
@model sidewalk_sitecore_8.Models.FeaturedProjectListModel

<div class="row">
    <h2 class="title" data-selector="h2">@Model.Title</h2>

    @{ var i = 0;}
    @if (Model.FeaturedProjectBlockModels.Any() || Sitecore.Context.PageMode.IsPageEditor)
    {
        using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/FeaturedProjects"))
        {
            if (!Model.FeaturedProjectBlockModels.Any() && Sitecore.Context.PageMode.IsPageEditor)
            {
                <p>List is empty</p>
            }

            foreach (var projectBlockModel in Model.FeaturedProjectBlockModels)
            {
                var offsetclass = "";
                if (i > 0)
                {
                    offsetclass = "col-md-offset-1";
                }

                <div class="col-md-3 @offsetclass">
                    @Html.Sitecore().BeginField("Link", projectBlockModel, new { DisableLinkDescription = true })
                    @Html.Sitecore().Field("Image", projectBlockModel, new {@class = "screen"})
                    @Html.Sitecore().EndField()

                    <div class="editContent" data-selector="Footer">
                        <h3 data-selector="h3">
                            @Html.Sitecore().BeginField("Link", projectBlockModel, new { DisableLinkDescription = true })
                            @Html.Sitecore().Field("Title", projectBlockModel)
                            @Html.Sitecore().EndField()
                        </h3>
                        <p class="desc-text" data-selector="p">
                            @Html.Sitecore().Field("Body", projectBlockModel)
                        </p>
                    </div>

                    @if (!string.IsNullOrEmpty(projectBlockModel["Link"]))
                    {
                        @Html.Sitecore().BeginField("Link", projectBlockModel, new {@class = "btn btn-default"})
                        <i class="icon icon-eyeglasses" style="float: left"></i>
                        @Html.Sitecore().EndField()
                    }

                </div>
                i++;
            }
        }
    }
</div>