﻿@model sidewalk_sitecore_8.Models.IntroCenterModel

<div class="slogan" data-selector="Footer">
    <h1 data-selector="Footer">@Model.Subtitle</h1>
    @*<h2 class="giant-title" data-selector="Footer"><strong>@Model.Title</strong></h2>*@
    @Model.Image
</div>

@Model.Link

@*<a class="goto" href="#" data-selector="a.btn, a.download-btn, button.btn, a.goto"><i class="icon big-icon icon-arrow-down" data-selector=".icon"></i></a>*@