﻿@using sidewalk_sitecore_8.Utils
@model sidewalk_sitecore_8.Models.MenuModel

@{
    var navbarFixed = "";
}

@if (!Sitecore.Context.PageMode.IsPageEditor)
{
    navbarFixed = "navbar-fixed-top";
}
<nav class="navbar @navbarFixed @Model.CssClass">
    <div class="container-fluid">
        <a class="navbar-brand goto" href="http://@HttpContext.Current.Request.Url.Host" data-selector="Footer">
            @Model.SiteLogo
        </a>
        @if (Model.MenuItems.Any() || Sitecore.Context.PageMode.IsPageEditor)
            {
                using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/MenuItems"))
                {
                    if (!Model.MenuItems.Any() && Sitecore.Context.PageMode.IsPageEditor)
                    {
                    <p style="float: right;">List is empty</p>
                }
                <button class="toggle navbar-toggle menu-collapse-btn collapsed" data-toggle="collapse" data-target=".navMenuCollapse" data-selector="Footer"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <div class="collapse navbar-collapse navMenuCollapse">
                    <ul class="nav">
                        @foreach (var menuItem in Model.MenuItems)
                        {
                            <li>
                                @Html.Sitecore().Field("Link", menuItem)
                            </li>
                        }
                    </ul>
                </div>
            }
        }

    </div>
</nav>
