﻿    	<!-- PORTFOLIO GRID FULL 2 BLOCK -->
@*<section id="portfolio-grid-full-2" class="portfolio-block text-center zero-bottom zero-top no-sep" data-selector="section">
    
</section>*@
@using sidewalk_sitecore_8.Utils
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Resources.Media
@model sidewalk_sitecore_8.Models.ScreenshotListModel

@if (Model.ScreenshotItems.Any() || Sitecore.Context.PageMode.IsPageEditor)
{
    using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/ScreenshotList"))
    {
        if (!Model.ScreenshotItems.Any() && Sitecore.Context.PageMode.IsPageEditor)
        {
            <p>List is empty</p>
        }

        <div class="container-fluid">
            <ul class="portfolio-list">
                @foreach (var screenshot in Model.ScreenshotItems)
                {
                    <li>
                        <a href="@MediaManager.GetMediaUrl(screenshot)"><span class="editContent"></span><img src="@MediaManager.GetMediaUrl(screenshot)" alt="" data-selector=".portfolio-list img"></a>
                    </li>
                }
            </ul>
        </div>
    }
}