﻿@model sidewalk_sitecore_8.Models.SocialSharingLinksModel

<div class="@Model.TextAlign">
    <p>
        @foreach (var socialSharingLink in Model.SocialSharingLinks)
        {
            if (Sitecore.Context.PageMode.IsPageEditor)
            {
                @Html.Sitecore().Field("Link", socialSharingLink)
                <span></span>
            }
            else
            {
                var icon = Sitecore.Context.Database.GetItem(socialSharingLink["Icon"]);
                if (icon != null)
                {
                    <a class="popup icon @icon["CssClass"]" href="@string.Format("{0}{1}", socialSharingLink["Link"], Request.Url)" target=""></a>
                }
            }
        }
    </p>
</div>