﻿@using sidewalk_sitecore_8.Utils
@using Sitecore.Data.Fields
@model sidewalk_sitecore_8.Models.LinkIconListModel
           
@if (Model.LinkIcons.Any() || Sitecore.Context.PageMode.IsPageEditor)
{
    using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/SocialMediaLinkList"))
    {
        if (!Model.LinkIcons.Any() && Sitecore.Context.PageMode.IsPageEditor)
        {
            <p>List is empty</p>
        }
        
        <ul class="soc-list sep-bottom">
            @foreach (var smIcon in Model.LinkIcons)
            {
                using (Html.BeginEditFrame(smIcon.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/SocialMediaItem"))
                {
                    if (Sitecore.Context.PageMode.IsPageEditor)
                    {
                        <li>@Html.Sitecore().Field("Link", smIcon, new {text = ((LinkField) smIcon.Fields["Link"]).Url})</li>
                        <br/>
                    }
                    else
                    {
                        var icon = Sitecore.Context.Database.GetItem(smIcon["Icon"]);
                        if (icon != null)
                        {
                            <li>@Html.Sitecore().Field("Link", smIcon, new {@class = "icon " + icon["CssClass"]})</li>
                        }
                    }
                }
            }
        </ul>
    }
}