﻿@using sidewalk_sitecore_8.Utils
@model sidewalk_sitecore_8.Models.TitleSubtitleBodyLink

<div class="editContent">
    <h2 data-selector="h2">@Model.Title</h2>
    <h4 class="sub-title" data-selector="h4">
        @Model.SubTitle
    </h4>
    <p class="sep-bottom" data-selector="p">
        @Model.Body
    </p>
</div>

@if (!string.IsNullOrEmpty(Model.Rendering.Item["Link"]))
{
    if (Sitecore.Context.PageMode.IsPageEditor)
    {
        using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/TitleSubtitleBodyLink"))
        {
            @Model.Link
        }
    }
    else
    {
        var icon = Sitecore.Context.Database.GetItem(Model.Icon);
        if (icon != null)
        {
            @Html.Sitecore().BeginField("Link", Model.Rendering.Item, new { @class = "btn btn-lg btn-darkblue" })
            <i class="icon right-icon @icon["CssClass"]"></i>
            @Html.Sitecore().EndField()
        }

    }
}
