
/* Form Title*/
.form-title
{
    color: #000000;
}

/* Validation */
.field-error, .field-required, .field-validation-error, .form-validation-summary
{
    color: red;
}

.field-required
{
    color: #000000;
}

/* Forms section*/
.display-section-fieldset
{
    border-top-color: #000000;
}

.display-section-legend
{
    color: #000000;
}


.checkbox-info, .field-info
{
    color: silver;
}


.field-datebox-title
{
    color: #000000;
}

.ui-widget
{
    font-size: 10px;
}