﻿
.scfForm input, 
.scfForm select, 
.scfForm textarea
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.scfForm textarea {
    resize: none;
}

/* Form */
.scfForm
{
    height: 100%;
	width: 100%;
	text-align: left;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	line-height: 1.4em;
}

/* Form Title*/
.scfTitleBorder
{
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000000;
	font-family: Arial,Tahoma,Helvetica,sans-serif;
	font-size: 1.8em;
	line-height: 1.1em;
	margin: 5px 0pt;
	text-decoration: none;
	font-weight: bold;
}

/* Form Introduction*/
.scfIntroBorder
{
}

/* Form Footer*/
.scfFooterBorder
{
}

/* Submit Button*/
.scfSubmitButtonBorder
{
}

.scfSubmitButton
{
}

/* Validation */
.scfValidationSummary
{
    margin-left : 20px;    
}

.scfValidatorRequired,
.scfRequired
{
	margin: 5px;
	margin-left:10px;
	float : left;
}

.scfValidator
{
	margin: 0px;
	display:block;
	float:left;	
}

/* Forms section*/
.scfSectionBorderAsFieldSet
{
	padding: 0 px 15px 15px 15px;
	border: 0px;
	border-top: solid 2px;
	margin:0px 30px;
}

.scfSectionLegend
{
	padding: 7px 13px 8px 13px;
	font-weight: bold;
	text-decoration: none;
	margin-left:20px;
}

.scfSectionBorder
{
	margin:0px;
	padding: 0px;
	width: 100%;
}

.scfSectionContent
{
	width: 100%;
	float: left;
}

.scfSectionUsefulInfo
{
	width: 100%;
	/*padding: 5px 0px 0px 20px;*/
	vertical-align:top;
	display:inline;
}

/* Form fields */
/* Checkbox */

.scfCheckBoxBorder
{
	clear:left;
	text-align: left;
	display: block;
	margin: 5px 0px;
	width: 100%;
}

.scfCheckBox
{
	width: 90%;
	display: block;
	padding:0px 3px;	
}

.scfCheckBoxUsefulInfo
{
	font-size:0.9em;
	display: block;
	width:90%;	
	padding:0px 6px;
}

/* Label */
.scfLabel
{
	width: 100%;
	display: block;
}

.scfListBox,
.scfDropList
{
	width:100%;
	margin:0px;
}

.scfMultipleLineTextTextBox
{
	width:100%;
	margin:0px;
}

.scfDropListBorder,
.scfEmailBorder 
.scfMultipleLineTextBorder,
.scfSingleLineTextBorder,
.scfPasswordBorder,
.scfNumberBorder,
.scfDatePickerBorder,
.scfDateBorder,
.scfRadioListBorder,
.scfListBoxBorder,
.scfCheckBoxListBorder,
.scfFileUploadBorder,
.scfCreditCardBorder,
.scfPasswordConfirmationBorder,
.scfDateSelectorBorder,
.scfTelephoneBorder,
.scfSmsTelephoneBorder
{
	text-align: left;
	display: block;
	margin: 5px 0px;
	width: 100%;
	vertical-align: top;
}

.scfDropList,
.scfEmailTextBox,
.scfMultipleLineTextTextBox,
.scfSingleLineTextTextBox,
.scfPasswordTextBox,
.scfNumberTextBox,
.scfDatePickerTextBox,
.scfDateTextBox,
.scfRadioList,
.scfCheckBoxList,
.scfFileUpload,
.scfCreditCardTextBox,
.scfCreditCardType,
.scfConfirmPasswordTextBox,
.scfTelephoneTextBox,
.scfSmsTelephoneTextBox
{
	width: 100%;
}

.scfDropListLabel,
.scfEmailLabel,
.scfMultipleLineTextLabel,
.scfSingleLineTextLabel,
.scfPasswordLabel,
.scfNumberLabel,
.scfDatePickerLabel,
.scfDateLabel,
.scfRadioListLabel,
.scfCheckBoxListLabel,
.scfListBoxLabel,
.scfFileUploadLabel,
.scfDateSelectorLabel,
.scfCreditCardLabel,
.scfPasswordConfirmationLabel,
.scfTelephoneLabel,
.scfSmsTelephoneLabel
{
	padding: 3px 0px;
	width: 30%;
	display: block;
	float: right;
}

.scfEmailGeneralPanel,
.scfMultipleLineTextGeneralPanel,
.scfSingleLineTextGeneralPanel,
.scfPasswordGeneralPanel,
.scfNumberGeneralPanel,
.scfDatePickerGeneralPanel,
.scfDateGeneralPanel,
.scfRadioListGeneralPanel,
.scfCheckBoxListGeneralPanel,
.scfCheckBoxGeneralPanel,
.scfFileUploadGeneralPanel,
.scfDateSelectorGeneralPanel,
.scfCreditCardGeneralPanel,
.scfPasswordConfirmationGeneralPanel,
.scfTelephoneGeneralPanel,
.scfSmsTelephoneGeneralPanel,
.scfListBoxGeneralPanel,
.scfDropListGeneralPanel
{
	margin: 0px 3px;
	width: 60%;
	display: block;
	float:left;
}

.scfDropListUsefulInfo,
.scfEmailUsefulInfo,
.scfMultipleLineTextUsefulInfo,
.scfSingleLineTextUsefulInfo,
.scfPasswordUsefulInfo,
.scfNumberUsefulInfo,
.scfDatePickerUsefulInfo
.scfDateUsefulInfo,
.scfRadioListUsefulInfo,
.scfListBoxUsefulInfo,
.scfCheckBoxListUsefulInfo,
.scfFileUploadUsefulInfo,
.scfDateSelectorUsefulInfo,
.scfCreditCardTextUsefulInfo,
.scfPasswordConfirmationUsefulInfo,
.scfTelephoneUsefulInfo,
.scfSmsTelephoneUsefulInfo
{
	font-size:0.9em;
	padding: 2px 0px 0px 2px;
	display: block;
	width:100%;	
}

.scfDateSelectorDay,
.scfDateSelectorMonth,
.scfDateSelectorYear
{
	width:33%;
	margin:0px;
}

.scfDateSelectorLabel
{
    margin-top: 7px;
}

.scfDateSelectorShortLabelDay, .scfDateSelectorShortLabelMonth, .scfDateSelectorShortLabelYear
{
    padding:0px 0px 1px 0px;
    margin: 0px;
    display : block;
    float : left;
    font-size:xx-small;
    line-height:10px;
    width:33%;
}


.scfCreditCardType
{
	width: 100%;
}

.scfCaptchaBorder
{
    clear: left;
	text-align: left;
	display: block;
	margin: 5px 0px;
	width: 100%;
	vertical-align: top;
}


.scfCaptchaLabel
{
	padding: 3px 0px;
	width: 30%;
	display: block;
	float: left;
}

.scfCaptchaGeneralPanel
{
    margin: 0px 3px;
	width: 60%;
	display: block;
	float: left;
}

.scfCaptchaUsefulInfo
{
	padding-left: 3px;
	font-size: 0.9em;
	width: 100%;
	display: block;
	float: left;    
}

ul
{
	margin: 0px;
	padding: 0px;
}

.scfCreditCardType
{
	width: 100%;
}

.scfCaptchaLabelText
{
	width:180px;
}


.scfCaptcha img
{
	border : 1px solid black;
}

.scfCaptchaTextBox
{
	width : 100%;
}
.scfCaptchStrongTextPanel
{
	width : 180px;
	display: block;
	float: left;
}

.scfCaptchaBorder, .scfCaptchaGeneralPanel
{
	margin-top : 0px;
	margin-bottom : 0px;
	padding-top : 0px;
	padding-bottom : 0px;
}

.scfCaptchaLimitGeneralPanel
{
	width:215px;
}

.scfCaptchaLimitGeneralPanel .scfRequired, .scfCaptchaLimitGeneralPanel .scfValidatorRequired
{
	float: right;	
}

.scfCaptchaGeneralPanel embed
{
   position:absolute;
   z-index : -10;
}

.scfCaptchaGeneralPanel td br
{
	margin-top : 3px;
	margin-bottom : 5px;
}

.scfCaptchaGeneralPanel td input
{
	margin-left:20px;	
}

.scfCaptchaGeneralPanel table
{
	margin-top: 30px;
}

.scfDropListBorder, .scfEmailBorder, .scfMultipleLineTextBorder, .scfSingleLineTextBorder, .scfPasswordBorder, .scfNumberBorder, .scfDateBorder, .scfRadioListBorder, .scfListBoxBorder, .scfCheckBoxListBorder, .scfFileUploadBorder, .scfCreditCardBorder, .scfPasswordConfirmationBorder
{
	overflow : auto;
}


.scfShortDate
{
    clear: left;
    text-align: left;
    display: block;
    margin: 5px 0px;
    vertical-align: top;
    width: 100%;    
}

.scfShortDate .scfDateSelectorLabel
{
    margin-top:0px;
	padding: 3px 0px;
	width: 30%;
	display: block;
	float: right;
}

.scfShortDate .scfDateSelectorGeneralPanel
{
    width: 61%;
}

.scfShortDate .scfDateSelectorDay, 
.scfShortDate .scfDateSelectorShortLabelDay,
.scfShortDate .scfDateSelectorShortLabelMonth,
.scfShortDate .scfDateSelectorShortLabelYear
{
    display: none;
}

.scfShortDate .scfDateSelectorShortLabelMonth,
.scfShortDate .scfDateSelectorShortLabelYear,
.scfShortDate .scfDateSelectorMonth, 
.scfShortDate .scfDateSelectorYear
{    
    width:50%;
}

.scfShortText 
{
    margin: 0px;
    float: right;
    width: 100%;
}

.scfShortText .scfSingleLineTextLabel
{
    margin-top:0px;
	padding: 3px 0px;
	width: 30%;
	display: block;
	float: right;
}

.scfShortText .scfSingleLineTextGeneralPanel
{
    width:60%
}

.scfShortText .scfSingleLineTextUsefulInfo
{
}

.scfShortText .scfSingleLineTextTextBox
{
    width:100%;
    margin: 0px;
}

.scWfmPassword
{
    behavior: url(/sitecore%20modules/shell/Web%20Forms%20for%20Marketers/themes/autocomplete.htc?v=17072012)
}