﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Model.Rendering.Item["Description"]"/>
    <title>
        @Model.Rendering.Item["Page Title"]
    </title>

    <!--pageMeta-->
    @*<link href="http://fonts.googleapis.com/css?family=Hind:600,300" rel="stylesheet" type="text/css"/>
        <link href="http://fonts.googleapis.com/css?family=Roboto:500,100,300" rel="stylesheet" type="text/css"/>*@
    <link href="~/css/fonts.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/bundles/styles")
    @*<link href="/css/iconfont-style.css" rel="stylesheet">*@
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#214D66">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#214D66">

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jQuery")

    <script>
        window.$scw = jQuery;
    </script>

    <script>
        alert("Continuous intigration with Git! v1.0")
    </script>

    @Scripts.Render("~/bundles/wffmScripts")

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
        <script src="scripts/html5shiv.js"></script>
        <script src="scripts/respond.js"></script>
    <![endif]-->
    <!--headerIncludes-->
    @Html.Sitecore().VisitorIdentification()
</head>
<body class="masterLayout" data-spy="scroll" data-target=".navMenuCollapse">
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NHZS39"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
            new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-NHZS39');</script>
    <!-- End Google Tag Manager -->
    <div id="wrap">

        @Html.Sitecore().Placeholder("Navigation")
        @Html.Sitecore().Placeholder("Header")
        @Html.Sitecore().Placeholder("Body")
        @Html.Sitecore().Placeholder("Footer")

    </div>
    <!-- /#wrap -->
    <!-- MODALS BEGIN-->
    <div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">&nbsp;</h3>
            </div>
        </div>
    </div>
    <!-- MODALS END-->
    <!-- JavaScript -->

    @if (!Sitecore.Context.PageMode.IsPageEditor)
    {
        @Scripts.Render("~/bundles/scripts");
    }

    <link rel="stylesheet" href="/css/styles/vs.css">
    <script src="/scripts/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
