﻿@using sidewalk_sitecore_8.Utils
@using SitecoreExperienced.SitecoreControls
@model sidewalk_sitecore_8.Models.JumbotronModel

@using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Jumbotron"))
{
    <footer id="@Model.SectionId" id="footer-center" class="text-center @Model.SectionCssClass" style="background-image: url('@Model.BackgroundImageUrl') data-selector=" footer">
        <div class="container">
            @Html.Sitecore().DynamicPlaceholder("footer-content")
        </div>
    </footer>
}