﻿@using sidewalk_sitecore_8.Utils
@using SitecoreExperienced.SitecoreControls
@model sidewalk_sitecore_8.Models.JumbotronModel

@using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Jumbotron"))
{
    <section id="@Model.SectionId" class="@Model.SectionCssClass" style="background-image: url('@Model.BackgroundImageUrl'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    @Html.Sitecore().DynamicPlaceholder("content-left")
                </div>
                <div class="col-md-4">
                    @Html.Sitecore().DynamicPlaceholder("content-right")
                </div>
            </div>
        </div>
    </section>
}
