﻿@using sidewalk_sitecore_8.Utils
@using SitecoreExperienced.SitecoreControls
@model sidewalk_sitecore_8.Models.JumbotronModel

@using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Jumbotron"))
{
    <header id="@Model.SectionId" class="intro-block bg-color1 dark-bg fixed-bg double-padding text-center" style="background-image: url('@Model.BackgroundImageUrl'); background-attachment: fixed; background-color: rgb(37, 40, 48); background-size: cover; background-repeat: no-repeat;" data-selector="header" src="http://www.sidewalk.be/wp-content/uploads/2012/09/logo-copy.png">
        <div class="container">
            @Html.Sitecore().DynamicPlaceholder("header-content")
        </div>
    </header>
}
