﻿@using sidewalk_sitecore_8.Utils
@using SitecoreExperienced.SitecoreControls
@model sidewalk_sitecore_8.Models.JumbotronModel

@using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Jumbotron"))
{
    <section id="@Model.SectionId" class="@Model.SectionCssClass" style="background-image: url('@Model.BackgroundImageUrl'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat;">
        <div class="container">
            @Html.Sitecore().DynamicPlaceholder("content")
        </div>
    </section>
}
