﻿.halfAvailableWidth
{
	float:left;	
	text-align: left;
	display: inline;
	margin: 5px 0px;
	width: 50%;
	vertical-align: top;
}

.thirdAvailableWidth
{
	float:left;	
	text-align: left;
	display: inline;
	margin: 5px 0px;
	width: 33%;
	vertical-align: top;
}

.halfLeft
{
	width:50%;
}

.halfRight
{
	width:50%;
	float:right;
}

.halfLeft .scfSectionBorderAsFieldSet,
.halfRight .scfSectionBorderAsFieldSet
{
	margin : 0px;
	padding:0px;	
	border-width:0px ;
}

.halfLeft .scfEmailGeneralPanel,
.halfLeft .scfMultipleLineGeneralPanel,
.halfLeft .scfSingleLineGeneralPanel,
.halfLeft .scfPasswordGeneralPanel,
.halfLeft .scfNumberGeneralPanel,
.halfLeft .scfDatePickerGeneralPanel,
.halfLeft .scfDateGeneralPanel,
.halfLeft .scfRadioButtonListGeneralPanel,
.halfLeft .scfCheckBoxListGeneralPanel,
.halfLeft .scfFileUploadGeneralPanel,
.halfLeft .scfDateSelectorGeneralPanel,

.halfRight .scfEmailGeneralPanel,
.halfRight .scfMultipleLineGeneralPanel,
.halfRight .scfSingleLineGeneralPanel,
.halfRight .scfPasswordGeneralPanel,
.halfRight .scfNumberGeneralPanel,
.halfRight .scfDatePickerGeneralPanel,
.halfRight .scfDateGeneralPanel,
.halfRight .scfRadioButtonListGeneralPanel,
.halfRight .scfCheckBoxListGeneralPanel,
.halfRight .scfFileUploadGeneralPanel,
.halfRight .scfDateSelectorGeneralPanel
{
	margin: 0px;
	width: 80%;
	display: block;
	float:left;
	margin-bottom:10px;
}


.halfLeft .scfDropListBorder,
.halfLeft .scfEmailBorder,
.halfLeft .scfMultipleLineTextBorder,
.halfLeft .scfSingleLineTextBorder,
.halfLeft .scfPasswordBorder,
.halfLeft .scfNumberBorder,
.halfLeft .scfDatePickerBorder,
.halfLeft .scfDateBorder,
.halfLeft .scfRadioButtonListBorder,
.halfLeft .scfListBoxBorder,
.halfLeft .scfCheckBoxListBorder,
.halfLeft .scfFileUploadBorder,
.halfRight .scfDropListBorder,
.halfRight .scfEmailBorder,
.halfRight .scfMultipleLineTextBorder,
.halfRight .scfSingleLineTextBorder,
.halfRight .scfPasswordBorder,
.halfRight .scfNumberBorder,
.halfRight .scfDatePickerBorder,
.halfRight .scfDateBorder,
.halfRight .scfRadioButtonListBorder,
.halfRight .scfListBoxBorder,
.halfRight .scfCheckBoxListBorder,
.halfRight .scfFileUploadBorder
{
	text-align: left;
	display: block;
	margin: 0px;
	width: 100%;
	vertical-align: top;
}

.halfLeft .scfDropListLabel,
.halfLeft .scfEmailLabel,
.halfLeft .scfMultipleLineTextLabel,
.halfLeft .scfSingleLineTextLabel,
.halfLeft .scfPasswordLabel,
.halfLeft .scfNumberLabel,
.halfLeft .scfDatePickerLabel,
.halfLeft .scfDateLabel,
.halfLeft .scfRadioButtonListLabel,
.halfLeft .scfCheckBoxListLabel,
.halfLeft .scfListBoxLabel,
.halfLeft .scfFileUploadLabel,
.halfLeft .scfDateSelectorLabel,
.halfRight .scfDropListLabel,
.halfRight .scfEmailLabel,
.halfRight .scfMultipleLineTextLabel,
.halfRight .scfSingleLineTextLabel,
.halfRight .scfPasswordLabel,
.halfRight .scfNumberLabel,
.halfRight .scfDatePickerLabel,
.halfRight .scfDateLabel,
.halfRight .scfRadioButtonListLabel,
.halfRight .scfCheckBoxListLabel,
.halfRight .scfListBoxLabel,
.halfRight .scfFileUploadLabel,
.halfRight .scfDateSelectorLabel
{
	padding-bottom : 0px;
}



.halfLeft .scfValidator,
.halfRight .scfValidator
{
	margin: 0px;
	display:block;
	font-size :0.8em;
	position:absolute;
}

.halfLeft .scfValidatorRequired,
.halfLeft .scfRequired,
.halfRight .scfValidatorRequired,
.halfRight .scfRequired
{
	float:left;
}


/*----------------------------------------------------------------------------------------
						FORM STYLES
-----------------------------------------------------------------------------------------*/
form {
	border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.form-group {
	margin: 0;
}

.form-group .btn {
	border-radius: 0;
	font-size: inherit;
	padding: 20px;
}

.form-group input,
.input-group input,
.form-group textarea,
button {
	color: #222;
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-appearance: none;
	border: 0;
	border-radius: 0;
}

.input-group input:focus,
.form-group input:focus,
.form-group textarea:focus,
.input-group button:focus {
	box-shadow: none;
	transition: none;
	border: 0;
	outline: 0;
}

.placeholdersjs {
	color: #aaa !important;
}

input.form-control,
.input-group input:focus,
.form-group input:focus,
textarea.form-control {
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	padding: 20px 25px 20px 0;
	line-height: 1.6;
	font-size: inherit;
	height: auto;
	width: 100%;
	background: none;
	color: inherit;
}

textarea.form-control {
	resize: none;
	border:none;
}

form button {
	margin-top: 40px;
}

form label {
	display: block;
	font-size: 14px;
	font-weight: normal;
	position: relative;
	margin: 0;
}

form label.error {
	background: #e44646;
	color: #fff;
	padding: 5px 10px;
}

form label.valid {
	display: none !important;
}

.dark-bg form,
.dark-bg form .form-control {
	border-color: rgba(255, 255, 255, 0.2);
}

.form-container {
	background: #fff;
	padding: 40px;
	border-radius: 3px;
}

.dark-bg .form-container {
	background: #252830;
}

.form-container form {
	margin: 0 0 40px 0;
}

.form-container .title,
.form-container p,
.form-container small {
	margin: 0 0 40px 0;
}

.form-container *:last-child {
	margin-bottom: 0;
}

form.line-form{
	border:none;
}

form.line-form input,
form.line-form input:focus{
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	color:#555;
}

form.line-form .form-control{
	background: #fff;
	padding: 20px 25px;
	border-right:none;
	border-left:none;
}

form.line-form > div:first-child .form-control{
	border-radius: 3px 0 0 3px;
	border-left:1px solid #eee;
}

form.line-form button,
form.line-form button:hover,
form.line-form button:focus {
	height: 69px;
	font-size:inherit;
	line-height: 24px;
	padding: 20px 25px;
	border-radius: 0 3px 3px 0;
	border-left:none;
	overflow: hidden;
	margin:0;
}

form.line-form button .icon{
	font-size:24px;
}

form.line-form button.btn-primary-white,
form.line-form button.btn-primary-white:hover,
form.line-form button.btn-primary-white:focus,
form.line-form button.btn-primary-white:active{
	border:1px solid #eee;
	border-left:none;
}

form.line-form label.error {
	margin:10px 0 0 0;
	display:inline-block;
	padding:10px 20px;
}

form.line-form.two-fields .form-group{
	float:left;
	width:40%;
}

form.line-form.two-fields .form-control{
	border-left:1px solid #eee;
}

form.line-form.two-fields button{
	float:left;
	width:20%;
}

.dark-bg form.line-form .form-control{
	border-color:#eee;
}

@media (max-width: 767px) {
	form.line-form.two-fields .form-group,
	form.line-form.two-fields button{
		float:none;
		width:100%;
		border-radius:0;
	}
	
	form.line-form.two-fields .form-group input{
		border:none;
	}
	 
	form.line-form.two-fields .form-group:first-child input{
		border-bottom:1px solid #eee;
		border-right:none;
		border-radius:0;
	}
}

