﻿@using Sitecore.Forms.Mvc.Interfaces
@using Sitecore.Forms.Mvc.Models.Fields
@using sidewalk_sitecore_8.Helpers
@model ListField

@{
    if (Model.Items == null)
    {
        return;
    }
    var hasColumnModel = Model as IHasColumns;
    var columns = hasColumnModel == null ? 1 : hasColumnModel.Columns;
    if (columns == 0)
    {
        columns = 1;
    }

    var bootstrapCol = columns == 1 ? "col-xs-12" : columns == 2 ? "col-xs-6" : columns == 3 ? "col-xs-4" : columns == 4 ? "col-xs-3" : "col-xs-12";

    var direction = hasColumnModel == null ? Direction.Horizontal : hasColumnModel.Direction;
    var colMod = Model.Items.Count % columns;
    var itemPerCol = Model.Items.Count / columns;

    var rows = colMod > 0 ? Model.Items.Count / columns + 1 : Model.Items.Count / columns;
    var css = Model.CssClass;
    var index = 0;
}

@if (!Model.Visible)
{
    return;
}

@{
    Model.Refresh();
}

<div class="@Model.CssClass field-border">

    @if (Model.ShowLegend)
    {
        <label for="@Html.AttributeEncode(Model.Name)" class="@Model.CssClass field-title label" style="display: none">@Html.Encode(Model.Title)</label>
    }

    <div class="@Model.CssClass field-panel row">
        @Html.HiddenFor(x => Model.FieldId)

        @for (int col = 0; col < columns; col++)
        {
            <div class="col @bootstrapCol">
                @{
                    for (int i = 0; i < itemPerCol; i++)
                    {
                        if (Model.Items.Count == index)
                        {
                            break;
                        }
                        if (Model is CheckBoxListField)
                        {
                            @Html.HiddenFor(m => @Model.Items[index].Value)
                            @Html.HiddenFor(m => @Model.Items[index].Text)
                            <label class="checkbox">
                                @Html.DisplayFor(m => @Model.Items[index].Text)
                                @Html.BasicCheckBoxFor(x => @Model.Items[index].Selected)
                            </label>
                        }
                        else
                        {
                            <label class="radiobox">
                                @Html.RadioButtonFor(x => Model.Value, Model.Items[index].Value, (Model.Items[index].Selected) ? new { Checked = "checked" } : null)
                                @Html.Encode(@Model.Items[index].Text)
                            </label>
                        }

                        index++;
                    }
                }
            </div>
                    }
        <div class="clearfix"></div>
    </div>

    @Html.ValidationMessageFor(field => Model.Value, null, new { @class = "scfValidator " + @Model.CssClass + " field-error" })

    @if (!string.IsNullOrEmpty(Model.Information))
    {
        <span class=" @Model.CssClass field-info">@Html.DisplayFor(x => Model.Information)</span>
    }
</div>
