﻿@model sidewalk_sitecore_8.Models.Blog.AuthorModel

<div class="col-md-6 col-md-offset-1 dark-bg">
    <h2 class="title"><strong>About the author</strong></h2>
    <p class="sep-bottom editContent">
        @Model.Description
    </p>
    <div class="row">
        <div class="col-sm-3">
            @Model.Image
        </div>
        <div class="col-sm-9 editContent">
            <h3 class="title">@Model.Name</h3>
            <p><i class="icon icon-twitter2"></i>@Model.TwitterHandle</p>
        </div>
    </div>
</div>
