﻿@using sidewalk_sitecore_8.Utils
@using Sitecore.Data.Fields
@model sidewalk_sitecore_8.Models.Blog.BlogMenuModel
@{
    var navbarFixed = "";
}

@if (!Sitecore.Context.PageMode.IsPageEditor)
{
    navbarFixed = "navbar-fixed-top";
}


<div id="wrap">

    <!-- NAVIGATION SOCIAL -->
    <nav class="navbar @navbarFixed @Model.SectionCssClass">
        <div class="container">
            <a class="navbar-brand goto" href="http://@HttpContext.Current.Request.Url.Host/" data-selector="Footer">
                @Model.SiteLogo
            </a>
            <a class="navbar-brand" href="http://@HttpContext.Current.Request.Url.Host/blog" data-selector="Footer"><h2 class="dark-bg">Blog</h2></a>
            <button class="toggle navbar-toggle menu-collapse-btn collapsed" data-toggle="collapse" data-target=".navMenuCollapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <div class="collapse navbar-collapse navMenuCollapse">
                @if (Model.LinkIcons.Any() || Sitecore.Context.PageMode.IsPageEditor)
                {
                    using (Html.BeginEditFrame(Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/SocialMediaLinkList"))
                    {
                        if (!Model.LinkIcons.Any() && Sitecore.Context.PageMode.IsPageEditor)
                        {
                            <p>List is empty</p>
                        }

                        <ul class="soc-list">
                            @foreach (var smIcon in Model.LinkIcons)
                            {
                                using (Html.BeginEditFrame(smIcon.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/SocialMediaItem"))
                                {
                                    if (Sitecore.Context.PageMode.IsPageEditor)
                                    {
                                        <li>@Html.Sitecore().Field("Link", smIcon, new { text = ((LinkField)smIcon.Fields["Link"]).Url })</li>
                                        <br />
                                    }
                                    else
                                    {
                                        var icon = Sitecore.Context.Database.GetItem(smIcon["Icon"]);
                                        if (icon != null)
                                        {
                                            <li>@Html.Sitecore().Field("Link", smIcon, new { @class = "icon " + icon["CssClass"] })</li>
                                        }
                                    }
                                }
                            }
                        </ul>
                    }
                }
            </div>
        </div>
    </nav>
</div><!-- /#wrap -->
