﻿@using sidewalk_sitecore_8.Utils
@using Sitecore
@using Sitecore.Data.Items
@model sidewalk_sitecore_8.Models.Blog.BlogOverviewModel

<h2 class="QuerystringTitle"></h2>

<section id="timeline" class="text-center">
    @if (Model.Blogs.Any() || (Sitecore.Context.PageMode.IsPageEditor && Model.Blogs.Count > 0))
    {
        using (Html.BeginEditFrame(Sitecore.Context.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Blog"))
        {
            <ul class="time-line">
                @{
                    var i = 1;
                }
                @foreach (var blogpost in Model.Blogs)
                {
                    var invertClass = "";
                    if (i%2 == 0)
                    {
                        invertClass = "invert";
                    }
                    using (Html.BeginEditFrame(blogpost.DatasourceItem != null ? blogpost.DatasourceItem.Paths.FullPath : Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/BlogPost"))
                    {
                        <li class="@invertClass">
                            <div class="post">
                                <div class="post-media">
                                    <a href="@blogpost.Link">@blogpost.Image</a>
                                </div>
                                <div class="post-content">
                                    <h4 class="title"><a href="@blogpost.Link">@blogpost.Title</a></h4>
                                    <div class="post-desc">
                                        @if (string.IsNullOrEmpty(blogpost.Intro.ToString()))
                                        {
                                            @blogpost.Text.ToString().TruncateHtml(140, "...")
                                        }
                                        else
                                        {
                                            @blogpost.Intro
                                        }
                                    </div>
                                    <div class="post-info">
                                        <div class="date">
                                            @if (!string.IsNullOrEmpty(blogpost.Date.ToString()) || Sitecore.Context.PageMode.IsPageEditor)
                                            {
                                                <i class="icon icon-clock"></i>
                                                @blogpost.Date
                                            }
                                        </div>
                                        @using (Html.BeginEditFrame(blogpost.DatasourceItem != null ? blogpost.DatasourceItem.Paths.FullPath : Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Author"))
                                        {
                                            <div class="author">
                                                @if (blogpost.Author != null && !string.IsNullOrEmpty(blogpost.Author["Name"]))
                                                {
                                                    <i class="icon icon-user"></i>
                                                    <a href="@blogpost.GetAuthorUrl(blogpost.Author["Name"])">@blogpost.Author["Name"]</a>
                                                }
                                                else
                                                {
                                                    if (Sitecore.Context.PageMode.IsPageEditor)
                                                    {
                                                        <i class="icon icon-user"></i>
                                                        <span>No Author selected</span>
                                                    }
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    i++;
                }
            </ul>

        }
    }
    <div class="clearfix"></div>
    <a href="javascript:void(0);" class="btn btn-default btn-lg morePosts"> Older posts </a>
</section>

<script>
    $(function () {
        defineVisibilityButton();
        defineQuerystringTitle();
        
        $(".morePosts").click(function(event) {
            event.preventDefault();
            $(".morePosts").disabled();

            // get number of last post
            var itemsToSkip = $(".time-line").children().length;

            var tag = getUrlVars()["tag"];
            var author = getUrlVars()["author"];

            // do ajax call
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Webservices/BlogService.asmx/GetNextBlogPosts",
                data: '{ "itemsToSkipString": "' + itemsToSkip + '", "tagName": "' + tag + '", "authorName": "' + author + '" }',
                dataType: "json",
                success: function(e) {
                    $(".time-line").append(e.d);

                    $(".morePosts").enabled();
                    defineVisibilityButton();
                },
                error: function() {
                    $(".morePosts").enabled();
                }
            });
        });
    });

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    function defineVisibilityButton() {
        var itemsToSkip = $(".time-line").children().length;
        var totalcount = @Model.TotalBlogPosts;

        if (itemsToSkip === totalcount) {
            $(".morePosts").hide();
        }
    }

    function defineQuerystringTitle() {
        var querystringTitle = $(".QuerystringTitle");
        querystringTitle.hide();
        
        var tag = getUrlVars()["tag"];
        var author = getUrlVars()["author"];
        
        if (tag !== undefined & tag !== "") {
            querystringTitle.html("Blogposts with tag '" + decodeURI(tag) + "'");
            querystringTitle.show();
            $(".editContent").hide();
        }
        if (author !== undefined && author  !== "") {
            querystringTitle.html(decodeURI(author) + "'s blogposts");
            querystringTitle.show();
            $(".editContent").hide();
        }
    }
</script>