﻿@using sidewalk_sitecore_8.Models
@using sidewalk_sitecore_8.Models.Blog
@using sidewalk_sitecore_8.Utils
@model sidewalk_sitecore_8.Models.Blog.BlogPostModel


<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 single-post">

            <div class="post-media">
                @Model.Image
            </div>

            <div class="post-content">
                <h2 class="title" data-selector="h2">@Model.Title</h2>

                <div class="post-info">
                    @if (!string.IsNullOrEmpty(Model.Date.ToString()) || Sitecore.Context.PageMode.IsPageEditor)
                    {
                        <div class="date"><i class="icon icon-clock" data-selector=".icon"></i>@Model.Date</div>
                    }

                    @if ((Model.Author != null && !string.IsNullOrEmpty(Model.Author["Name"])) || Sitecore.Context.PageMode.IsPageEditor)
                    {
                        using (Html.BeginEditFrame(Model.DatasourceItem != null ? Model.DatasourceItem.Paths.FullPath : Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Author"))
                        {
                            <div class="author">
                                @if (Model.Author != null && !string.IsNullOrEmpty(Model.Author["Name"]))
                                {
                                    <i class="icon icon-user"></i>
                                    <a href="@Model.GetAuthorUrl(Model.Author["Name"])">@Model.Author["Name"]</a>

                                    if (!string.IsNullOrEmpty(@Model.Author["Twitter handle"]))
                                    {
                                        <i class="icon icon-twitter2"></i>
                                        <a href="http://www.twitter.com/@Model.Author["Twitter handle"]">@Html.Raw("@")@Model.Author["Twitter handle"]</a>
                                    }
                                }
                                else
                                {
                                    if (Sitecore.Context.PageMode.IsPageEditor)
                                    {
                                        <i class="icon icon-user"></i>
                                        <span>No Author selected</span>
                                    }
                                }
                            </div>
                        }
                    }
                </div>

                <div class="post-desc">
                    @Model.Text
                </div>
            </div>

            @using (Html.BeginEditFrame(Model.DatasourceItem != null ? Model.DatasourceItem.Paths.FullPath : Model.Rendering.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Tags"))
            {
                if (Model.Tags.Any())
                {
                    <ul class="tags">
                        @foreach (var tag in Model.Tags)
                        {
                            <li>
                                @if (Sitecore.Context.PageMode.IsPageEditor)
                                {
                                    <a>@tag["Name"]</a>
                                }
                                else
                                {
                                    <a href="@Model.GetTagUrl(tag["Name"])">@tag["Name"]</a>
                                }
                            </li>
                        }
                    </ul>
                }
                else
                {
                    if (Sitecore.Context.PageMode.IsPageEditor)
                    {
                        <p>No tags selected</p>
                    }
                }
            }
        </div>

        @Html.Partial("/Views/Renderings/Sidewalk/SocialSharing.cshtml", new SocialSharingLinksModel())

        @*@Html.Partial("/Views/Renderings/Sidewalk/Blog/AuthorBlock.cshtml", new AuthorModel())*@
    </div>
</div>