﻿@model sidewalk_sitecore_8.Models.Blog.BlogOverviewModel

@if (Model.Blogs.Any())
{
    <section id="blog-2col" data-selector="section">
        <div class="container">
            <h2 class="title text-center" data-selector="h2">Related posts</h2>

            <div class="row">
                @{ var isFirstBlog = true;}
                @foreach (var blog in Model.Blogs)
                {
                    var offset = isFirstBlog ? "col-sm-offset-2" : string.Empty;
                    isFirstBlog = false;

                    <div class="@offset col-sm-4">
                        <div class="post" data-selector="#testimonials-grid .quote, .pricing-table, .pricing-table .stamp, .post, .panel, .panel-heading, .form-container, .post-content .price-circle">
                            <div class="post-media">
                                <a href="@blog.Link">@blog.Image </a>
                            </div>
                            <div class="post-content">
                                <h4 class="title" data-selector="h4"><a href="@blog.Link">@blog.Title</a></h4>
                                <div class="post-desc">
                                    @blog.Intro<a href="@blog.Link" class="read-more" title="read more">•••</a>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}